@tailwind base;
@tailwind components;
@tailwind utilities;

img {
    max-height: 100%;
}

input,
textarea,
select {
    @apply border border-gray-200 rounded-sm px-1 w-full py-2 px-3;
    @apply mb-2;
}

input:focus,
textarea:focus,
select:focus {
    @apply border-blue-900;
}

h1 {
    @apply text-gray-800 mb-4 text-xl;
}

label {
    @apply text-gray-600 text-sm;
}

.btn-primary {
    @apply bg-primary text-white px-4 rounded-sm py-1 shadow-sm;
}

table.basic {
    @apply w-full bg-white rounded-sm shadow-sm;
}

table.basic thead tr td,
table.basic thead tr th {
    @apply text-sm text-gray-600 uppercase border-b border-gray-200 px-4 py-2;
}

table.basic tr td {
    @apply px-4 py-1;
}

table.basic a {
    @apply px-4 py-1 inline-flex mx-1 items-center gap-1 text-sm;
}

.btn-red,
.btn-default {
    @apply px-4 py-1 rounded-md;
}

.btn-red {
    @apply bg-red-200 text-red-600 px-4 py-1 rounded-sm shadow-sm;
}

.btn-default {
    @apply bg-white text-gray-800 px-4 py-1 rounded-sm border border-gray-200 shadow-sm;
}

.btn-delete {
    background-color: #f87171;
    color: white;
    padding: 0.25rem 0.5rem; /* Giảm padding */
    font-size: 0.75rem; /* Kích thước chữ nhỏ hơn */
    border-radius: 0.25rem; /* Bo góc nhỏ hơn */
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.btn-delete:hover {
    background-color: #dc2626;
    transform: scale(1.05); /* Giữ hiệu ứng phóng to nhẹ */
}

.btn-delete:active {
    transform: scale(0.95); /* Giữ hiệu ứng thu nhỏ nhẹ */
}


.grid {
    display: grid;
    gap: 16px;
    /* Khoảng cách giữa các ô */
}

.grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
    /* Hai cột */
}

.grid-cols-3 {
    grid-template-columns: repeat(3, 1fr);
    /* Ba cột */
}

.border {
    border: 1px solid #e5e5e5;
}

.rounded {
    border-radius: 8px;
}

.p-2 {
    padding: 8px;
}

.mb-4 {
    margin-bottom: 16px;
}

.bg-gray-50 {
    background-color: #f9fafb;
}